Django==1.4
Mezzanine==1.1.4
Pillow
bleach==1.1.2
distribute
dj-database-url==0.2.1
filebrowser-safe==0.2.8
grappelli-safe==0.2.7
gunicorn==0.14.5
html5lib==0.95
psycopg2==2.4.5
pytz==2012c
wsgiref==0.1.2
